name: Build & Deploy to App Service (ACR)

on:
  push:
    branches: [ azure-app-service ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Login to ACR
        run: |
          az acr login --name ${{ secrets.ACR_NAME }}

      - name: Build & Push Image
        run: |
          docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/fastapi-app:latest .
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/fastapi-app:latest

      - name: Deploy to App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: my-fast-api
          images: ${{ secrets.ACR_LOGIN_SERVER }}/fastapi-app:latest
