name: Build & Deploy to Azure App Service

on:
  push:
    branches:
      - azure-app-service
  workflow_dispatch:

env:
  IMAGE_NAME: fastapi-app
  APP_SERVICE_NAME: my-fast-api   # your app service name
  RESOURCE_GROUP: fastapi-rg

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    # --------------------------
    # Build & Push to Docker Hub
    # --------------------------
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Build Docker Image
      run: docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest .

    - name: Push Docker Image
      run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest

    # --------------------------
    # Azure Login (Publish Profile)
    # --------------------------
    - name: Azure Login
      uses: azure/login@v1
      with:
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}

    # --------------------------
    # Deploy to Azure App Service
    # --------------------------
    - name: Deploy to Azure App Service
      uses: azure/webapps-container-deploy@v1
      with:
        app-name: ${{ env.APP_SERVICE_NAME }}
        images: docker.io/${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
        # my commit to trigger
