name: Build and Deploy Docker to Azure App Service

on:
  push:
    branches:
      - azure-app-service

env:
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
  IMAGE_NAME: fastapi-app
  APP_SERVICE_NAME: my-fast-api
  RESOURCE_GROUP: fastapi-rg
  AZURE_WEBAPP_PUBLISH_PROFILE: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ env.DOCKER_HUB_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t $DOCKER_HUB_USERNAME/$IMAGE_NAME:${{ github.sha }} .

      - name: Push Docker Image
        run: docker push $DOCKER_HUB_USERNAME/$IMAGE_NAME:${{ github.sha }}

      - name: Set Image Tag
        id: image-tag
        run: echo "tag=${{ github.sha }}" >> $GITHUB_OUTPUT


  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Azure Login using Publish Profile
        uses: azure/login@v1
        with:
          publish-profile: ${{ env.AZURE_WEBAPP_PUBLISH_PROFILE }}

      - name: Deploy to Azure App Service (Docker)
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.APP_SERVICE_NAME }}
          images: docker.io/${{ env.DOCKER_HUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ steps.image-tag.outputs.tag }}
          
